.d-flex{
    margin: 20px auto;
    width: 100%;
    box-shadow: 0px 5px 8px rgb(215, 215, 255);
    padding: 16px;
}
.img-fluid {
    max-height: 300px; 
    width: 100%;
    object-fit: cover;
}
.club-items{
    margin-top: 20px;
}
data-item{
    margin: 0 20px;
}
.card{
    margin: 20px auto;
    
}
.main{
    min-height: 125px;
}
.navbar{
    margin-bottom: 10px;
}
.img{
    margin-top: 5px;
}
footer{
    padding: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

